@import "tailwindcss";

:root {
  /* --color-dark: #0d1117; */
  --color-dark: #0a1124;
  --color-light: #ffffff;
  --color-highlight: #e3ff6a;
  --color-neon-green: #a4ff7a;
  --color-deep-blue: #1e293b;
  --color-soft-gray: #8892b0;

  --gradient-main: linear-gradient(135deg, #1e293b 0%, #0d1117 100%);
}

body {
  background: var(--color-dark);
  color: var(--color-light);
}

.button {
  background: var(--color-highlight);
  color: var(--color-dark);
}

.section {
  background: var(--gradient-main);
}

/* Gradiant 
  
  background: linear-gradient(135deg, #1E293B 0%, #0D1117 100%) ;
  
  */

/* 
  
Fondo oscuro: #0D1117
Texto principal: #FFFFFF
Amarillo destacado: #E3FF6A
Verde neón: #A4FF7A
Azul oscuro: #1E293B
Gris suave: #8892B0
  
  */
